// COLORS
$primary-color: #a71f1f;
$secondary-color: #a71f1f;
// $primary-color: #a33434;
// $secondary-color: #a33434;

$white-color: #fff;
$blackish: #1C1E26;

$dark-grey: #333333;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
